*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Lato, Helvetica, sans-serif;
}
body{
  background-color: #090E22;
  color: #FFF;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}