.App {
  padding: 32px;
}
.header {
  text-align: center;
  margin-bottom: 32px;
}
.header h2 {
  font-size: 32px;
  margin-bottom: 16px;
}
.form-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-container form {
  max-width: 400px;
  /* border: 1px solid red; */
  margin: 0 auto;
}
.inputs-container {
  min-height: 280px;
  /* border: 1px solid red; */
}
.form-control {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}
label {
  font-weight: bold;
  color: #777;
  font-size: 15px;
}
input,
textarea {
  padding: 0.6rem;
  border: none;
  border-radius: 3px;
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0;
}
textarea {
  height: 120px;
  min-height: 120px;
  max-height: 200px;
  min-width: 400px;
  max-width: 400px;
}
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
.actions button {
  font-size: 15px;
  padding: 8px 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 3px;
  border: none;
  background-color: #dfdfdf;
  cursor: pointer;
  transition: 0.3s;
}
.actions button:hover {
  background-color: #cfcfcf;
}
