*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
body{
    background-color: rgb(71, 155, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.container{
    background-color: #FFF;
    width: 380px;
    padding: 20px;
    border-radius: 10px;
    transition: height 0.5s;
    text-align: center;
    margin: auto;
    /* border: 1px solid red; */
}
.active{
    height: 500px;
    display: block;
    transition: 0.5s;
}
h1{
    margin-bottom: 10px;
}
p{
    color: #444;
    margin-bottom: 15px;
}
input, button{
    /* padding: 15px; */
    margin: auto;
    display: flex;
}
input{
    display: block;
    width: 234px;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    font-size: 16px;
}
button{
    width: 234px;
    padding: 15px;
    display: flex;
    justify-content: center;
    border: none;
    background-color: rgb(19, 105, 19);
    color: #FFF;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.9;
    transition: opacity 0.4s;
}
button:hover{
    opacity: 1;
}
.container-qr{
    height: 230px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    border: 1px solid #adadad;
    border-radius: 5px;
    width: 320px;
    margin: 20px auto 5px;
    transition: height 0.5s;
}
.container .active .container-qr{
    height: 230px;
}
.container-qr img{
    width: 200px;
    height: 200px;
    margin-top: 15px;
}
.display-none{
    display: none;
}